.hidden-form {
    display: none !important;
}
.authenticate-form {
    font-size: 1.3rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(10px);
    background-color: #ffffff73;
    display: flex;
    justify-content: center;
    &-inner {
        &-cancel {
            background-color: #adadad;
            height: 30px;
            width: 30px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
                background-color: transparent;
                border: 1px solid #adadad;
            }
        }
        &-tabs {
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            button {
                cursor: pointer;
                color: blueviolet;
                padding: 1.5rem;
                border-bottom-width: 3px;
                &.active {
                    border-bottom: 3px solid blueviolet;
                }
            }
        }
        padding: 2rem 4rem;
        width: 50rem;
        background-color: #ffffffc8;
        border: 1px solid #fff;
        border-radius: 5px;
        &-form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &-element {
                input,
                textarea {
                    width: 100%;
                    border: 1px solid #adadad;
                    padding: 5px;
                    border-radius: 5px;
                    outline: none;
                    &:focus {
                        border: 1px dashed #adadad;
                    }
                    &[type="checkbox"] {
                        width: unset;
                    }
                }
            }
            & button[type="submit"] {
                background-color: blueviolet;
                // width: fit-content;t
                text-align: center;
                text-transform: uppercase;
                padding: 15px;
                color: #fff;
                font-size: 1.2rem;
                border-radius: 3px;
                border: 1px solid blueviolet;
                cursor: pointer;
                &:hover {
                    background-color: #fff;
                    border: 1px solid blueviolet;
                    color: blueviolet;
                }
            }
        }
    }
}
